.navigation-menu{

    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-menu li{
    margin :0px 20px;
}
.active{
    color: goldenrod !important;
    font-weight: bolder;
}

.navigation-menu li a{
    text-decoration: none;
    color: white;
    font-size:1.3rem;
    font-weight: bolder;
}
.navigation-menu li a:hover{
    color:goldenrod;
}
.mobile-navigation{
    list-style: none;
    
}
.mobile-navigation li{
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    
}
.mobile-navigation li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bolder;

}
.logo{
  
    margin-left: -5rem;
}